<ion-content [fullscreen]="true">
<!--<ion-button (click)="showDevices()" *ngIf="this.BluetoothOn">Buscar</ion-button>-->
<!--<ion-button (click)="disconectedB()" *ngIf="this.bluetoothConected">Desconectar</ion-button>-->
<div *ngIf="this.listDevices">
    <div>Elige Dispositivo</div>
    <div *ngFor="let datos of devicesList">
        <div>{{datos.id}} </div>
        <div>{{datos.name}}</div>
        <ion-button (click)="connectBluetooth(datos.address)">Conectar</ion-button>
    </div>
</div>

<!--<ion-button [color]="tracking ? 'danger' : 'primary'">
    
    <ion-icon [name]="tracking ? 'close' : 'finger-print'"></ion-icon>
</ion-button>
<ion-label class="ion-padding" (click)="toggleTracking()">Start Tracking</ion-label>--->
<div style="display: none;">
    <video class="user-media" id="user-video" autoplay playsinline></video>
    <canvas class="user-media" id="user-canvas" ></canvas>
</div>

<div class="dasd" style="width:100%;height: 100%;">
    <div class="wrap" id="cara" style="margin-top: 250px;">
        <div id="ojo1" class="eye blink"></div>
        <div id="ojo2" class="eye blink d1"></div>
    </div>
</div>
</ion-content>
